body{
    background-image: url(pizza.jpg);
    background-size: cover;
    
}
.dugme{
    float: left;
    color: black;
    background-color: blue;
}
.dugmeNow{
    color: black; 
    float: right;
    background-color: red;
}
#brojac{
    display: inline-block;
    background-color: chartreuse;
    position: absolute;
    top: 20%;
    left: 40%;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    font-size: 100px;
    block-size: 200px;
    width: 200px;
}
#poruka{
    display: inline-block;
    background-color: orange;
    position: fixed;
    top: 60%;
    left: 20%;
    text-align: center;
    line-height: 10px;
    font-size: 25px;
    block-size: 60px;
    width: 800px;
}   